@import "tailwindcss";

@theme {
  --color-primary: #FF6600;
  --color-primary-dark: #cc5200;
  --color-foreground: #111111;
  --color-background: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}
